@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

$main_color: #b7de4b;

.profile {
    width: 30%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
    box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
    &_img {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        overflow: hidden;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
        -moz-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
        box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
    }
    &_name {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 40px;
        font-weight: bolder;
    }
    &_grade {
        font-family: "Noto Sans KR", sans-serif;
        margin-right: 50px;
    }
    &_button {
        margin-top: 130px;
        &_setting {
            font-family: "Noto Sans KR", sans-serif;
            background-color: $main_color;
            color: white;
            border: none;
            font-weight: bolder;
            border-radius: 5px;
            outline: none;
            user-select: none;
            margin-right: 10px;
            padding: 5px 10px 5px 10px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
            -moz-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
            box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
        }
        &_logOut {
            font-family: "Noto Sans KR", sans-serif;
            background-color: $main_color;
            color: white;
            border: none;
            font-weight: bolder;
            border-radius: 5px;
            outline: none;
            user-select: none;
            padding: 5px 10px 5px 10px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
            -moz-box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
            box-shadow: 0px 1px 2px 0px rgba(64, 63, 63, 1);
        }
    }
}
