div {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.header {
    background-color: blue;
}
.body {
    background-color: aquamarine;
}
.footer {
    background-color: blueviolet;
}
