body {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 150px;
    border: 1px solid black;
}
.body {
    border: 1px solid black;
    height: 750px;
}
.footer {
    border: 1px solid black;
    height: 60px;
}
