body {
    margin: 0px;
    padding: 0px;
}
.login_wrap {
    border: 1px solid black;
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-input {
    margin: 20px 0px 20px 0px;
}
.div-submit {
    margin: 30px 0px 20px 0px;
}
.login_wrap-input {
    padding: 15px 5px 15px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 4px 25px -10px rgba(54, 54, 54, 1);
    -moz-box-shadow: 0px 4px 25px -10px rgba(54, 54, 54, 1);
    box-shadow: 0px 4px 25px -10px rgba(54, 54, 54, 1);
    margin: 0px;
    outline: none;
    user-select: none;
    width: 300px;
    transition: 0.3s ease-in-out;
}
.login_wrap-input:not(.submit):focus {
    /*submit을 제외한 input값들을 focus될 때 그림자 색을 바꿈.*/
    -webkit-box-shadow: 0px 4px 25px -10px #b7ed4b;
    -moz-box-shadow: 0px 4px 25px -10px#b7ed4b;
    box-shadow: 0px 4px 25px -10px #b7ed4b;
}
.submit {
    cursor: pointer;
    border-radius: 20px;
}
.submit:hover {
    background-color: #b7ed4b;
}
.goto_singUp {
    float: right;
    margin: 10px 0px 10px 0px;
}
