@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
.home_button {
    cursor: pointer;
    user-select: none;
}
.header {
    background-color: #b7de4b;
    padding: 10px;
}
.profile {
    margin: 30px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}
.profile_setting {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 130px;
    top: 290px;
    border-radius: 70%;
    overflow: hidden;
    cursor: pointer;
}
.setting_img {
    width: 30px;
    height: 30px;
}
.home_button {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.setting_wrap {
    font-family: "Noto Sans KR", sans-serif;
    padding: 20px;
    background-color: #f2f2f2;
}
.profile_name {
    font-weight: bold;
}
.name_grade_container {
    position: absolute;
    display: flex;
    position: relative;
    width: 250px;
    height: 50px;
    top: 50px;
    left: 200px;
    user-select: none;
    cursor: pointer;
}
.name_grade_container:hover {
    border-bottom: 1px solid black;
}
.profile_name {
    font-size: 40px;
    bottom: 0px;
}
.profile_grade {
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#change_password {
    background-color: #f2f2f2;
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 20px;
    cursor: pointer;
}
.change_password_container :hover {
    font-weight: bold;
}
.change_password_container {
    position: absolute;
    right: 50px;
    top: 280px;
}
.edit_profile_box {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid dimgray;
}
.setting_modes_box {
    border-bottom: 2px solid dimgray;
    width: 100%;
    height: 150px;
}
.setting_modes_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.light_mode_container {
    border: 1px solid black;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
}
.night_mode_container {
    border: 1px solid black;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
}
.setting_alarm_box {
    border-bottom: 2px solid dimgray;
    width: 100%;
    height: 150px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display_push_alarm_text {
    font-weight: bold;
}
.help_box {
    width: 100%;
    height: 150px;
}
