@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.wrap {
    font-family: "Noto Sans KR", sans-serif;
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(82, 81, 81, 1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(82, 81, 81, 1);
    box-shadow: 0px 1px 4px 0px rgba(82, 81, 81, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    font-size: 50px;
    font-weight: bold;
    color: #b7de4b;
}
form {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.login_form_wrap {
    display: flex;
}
.form_input {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0px;
    padding: 10px;
    margin-bottom: 20px;
    width: 94%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.input_submit {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #b7de4b;
    color: dimgray;
}
